@import "_config.scss";

/*
about me
*/

.headshot {
    max-width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto auto 20px;
}

.split {
    display: table;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: left;
    width: 60%;
}

.aboutcontact {
    margin-top: 20px;
}

.info {
    text-align: center;
    font-size: 23px;

    p {
        margin: 5px 0 0 0;
    }
}

.college {
    font-style: italic;
}

.infolabel {
    font-weight: 600;
}

.contact {
    margin: 20px 0px 0px 0px;

    .links {

        a {
            margin: 10px;

            @include themed() {
                color: t($text-emphasis);
            }

            &:hover {
                @include themed() {
                    color: t($hover);
                }
            }
        }
    }

    a {
        margin: 10px 15px 10px 0;
    }

    img {
        max-width: 70%;
        padding-left: 10%;
    }

    .split {
        display: flex;
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        svg {
            // color: $darkgreen;
            margin-left: 5%;

            @include themed() {
                color: t($text);
            }
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}