@import "_config.scss";
@import "navigation.scss";
@import "aboutme.scss";
@import "experience.scss";
@import "projects.scss";

.main {
    margin: 100px 0px 0 220px;
    padding: 0 20px;
    position: relative;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 30px;
    text-align: center;
    color: $gray;
    font-size: 15px;
}

/*
smaller screens
*/

// TODO: make it look pretty for small screens (hamburger menu, font sizes)
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}
