@import "_config.scss";

/*
navigation
*/

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    // background-color: $green;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    .heading {
        padding: 36px 16px 86px 36px;

        h1 {
            font-size: 60px;
        }

        h1,
        h4 {
            margin: 0;
            padding: 0;
        }
    }

    a {
        margin: 6px 40px 6px 36px;
        padding: 0 5px;
        text-decoration: none;
        font-size: 25px;
        color: $black;
        display: block;
        @include transition(0.2s ease-in-out);

        &:hover {
            color: $hoverblack;
            @include transition(0.2s ease-in-out);
        }
    }
}

.main {
    margin: 100px 0px 50px 220px;
    padding: 0 10px;
    position: absolute;
}

.active {
    background-color: $green;
}

/*
about me
*/

.headshot {
    max-width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto auto 20px;
}

.split:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: left;
    width: 60%;
}

.aboutcontact {
    margin-top: 40px;
}

.info {
    text-align: center;
    font-size: 25px;
}

.college {
    font-weight: 800;
}

.nameTitle {
    padding-bottom: 20px;
}

.contact {
    margin: 30px 0px 0px 0px;

    .links {
        margin: 10px 0 0 0;

        img {
            max-width: 40px;
        }
    }

    a {
        margin: 10px 15px 10px 0;
    }

    img {
        max-width: 100%;
    }

    .right {
        margin-top: 70px;
    }
}

/*
experience
*/

.othermain {
    margin: 0 30px 0 80px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 325px;
    height: 400px;
    margin: 0 20px 20px 0;
    display: block;
    top: 0px;
    position: relative;
    // background-color: #f2f8f9;
    // background-color: $lightgreen;
    border-radius: 4px;
    padding: 8px 6px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    // border: 1px solid #f2f8f9;
    border: 1px solid $darkgreen;
    transition: all 0.3s ease-out;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}

.card-img-top {
    height: 200px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.smallLogo {
    height: 30px;
    margin: 0 10px;
}

.experienceDet p {
    margin: 0;
}

#contained-modal-title-vcenter {
    font-size: 30px;
}

.details {
    margin-top: 25px;
}

/*
smaller screens
*/

// TODO: make it look pretty for small screens (hamburger menu, font sizes)
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}
